@page "/blazorjs"
@inject IJSRuntime JSRuntime

<h3>BlazorJS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="(()=>TestConfirmBox(ConfirmMessage))">Test Confirm Button</button>
</div>

<div class="row">
    <button class="btn btn-success" @onclick="TestSuccess">Test Toastr Success</button>
    <button class="btn btn-danger" @onclick="TestFailure">Test Toastr Failure</button>
</div>
<div class="row">
    @if (ConfirmResult)
            {
                <p>Confirmed</p>
            }
            else
            {
                <p>Cancelled</p>
            }
</div>

@code {
    private string ConfirmMessage  = "Are you sure you want to click?";
    private bool ConfirmResult { get; set; }
    private async Task TestConfirmBox(string message)
    {
        ConfirmResult = await JSRuntime.InvokeAsync<bool>("confirm", message);
    }

    private async Task TestSuccess()
    {
        await JSRuntime.ToastrSuccess("Success Message");
    }

    private async Task TestFailure()
    {
        await JSRuntime.ToastrError("Error Message");
    }
}
