@page "/demohotel"
@using Model

<h3>We will display hotel rooms and amenitites here!</h3>
<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">Room List [USING COMPONENT]</h2>
    <h3 class="text-info">Hotel Room's:'</h3>
    <span>Rooms Selected - @SelectedRooms</span>
    <div class="row container">
        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room" OnRoomCheckBoxSelection="RoomSelectionCounterChanged"></IndividualRoom>
        }
    </div>

    <h2 class="text-info">Hotel Amenitie's [ASSIGNMENT]</h2>
    <div class="row container">
        @foreach (var amenitie in HotelAmenitiesList)
        {
            <IndividualAmenitie onAmenityClickSelection="AmenitySelectionChanged" Amenitie="amenitie"></IndividualAmenitie>
        }
    </div>
    <span>Selected Amenity: @SelectedAmenity</span>
</div>




@code{
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> HotelAmenitiesList = new List<BlazorAmenities>();
    public int SelectedRooms { get; set; } = 0;
    public string SelectedAmenity { get; set; } = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            ID = 1,
            RoomName = "Villa Suite 1 Bed",
            IsActive = false,
            price = 499,

            RoomProps = new List<BlazorRoomProp>
    {
                    new BlazorRoomProp{Id=1, Name="Sq Ft", Value = "100"},
                    new BlazorRoomProp{Id=2, Name="Occupancy", Value="3"}
                },
        });

        RoomsList.Add(new BlazorRoom()
        {
            ID = 2,
            RoomName = "Villa Suite 2 Bed",
            IsActive = false,
            price = 599,

            RoomProps = new List<BlazorRoomProp>
    {
                    new BlazorRoomProp{Id=1, Name="Sq Ft", Value = "200"},
                    new BlazorRoomProp{Id=2, Name="Occupancy", Value="4"}
                },
        });

        HotelAmenitiesList.Add(new BlazorAmenities()
        {
            ID = 111,
            Name = "Gym",
            Description = "24-7 gym room available"
        });

        HotelAmenitiesList.Add(new BlazorAmenities()
        {
            ID = 222,
            Name = "Swimming Pool",
            Description = "Pool room open from 6am to 10pm"

        });

        HotelAmenitiesList.Add(new BlazorAmenities()
        {
            ID = 333,
            Name = "Free Breakfast",
            Description = "Enjoy free breakfast here"

        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected void AmenitySelectionChanged(string AmenityName)
    {
        
            SelectedAmenity = AmenityName;
        
    }
}

