@page "/ParentComponent"

<h3 class="text-danger">Parent Child Component</h3>
<ChildComponent Title="This title is passed from parent component" OnClickBtnMethod="ShowMessage">
    <ChildContent>Render Fragement From Parent! WooHoo!</ChildContent>
    <DangerChildContent>Content in the danger fragment</DangerChildContent>
</ChildComponent>

<AnotherChildComponent InputAttributes="InputAttributesFromParent"></AnotherChildComponent>

<p>@messageText</p>
@code {

    //Placeholder="" MaxLength="5"
    [Parameter]
    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        {"placeholder", "Enter the Room Name From Parent" },
        { "maxlength", 5 }
    };


    private string messageText = "";
    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazing Text from Parent";

    }



    private void ShowMessage2(MouseEventArgs e)
    {
        messageText = "Back to";

    }
}

