@page "/login"








<form class="pt-4">
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Sign In</strong>
                        </h3>

                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <input id="email" placeholder="Email..." class="form-control mb-2" />

                        </div>
                        <div class="py-2">
                            <input type="password" placeholder="Password..." id="password" class="form-control mb-2" />

                        </div>
                        <div class="py-2 input-group">
                            
                            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>

                        </div>
                        <div class="form-row py-2">
                            
                            <div class="col">
                                <a href="/registration"
                                   class="btn btn-primary text-white mt-3"><i class="fas fa-user-plus"></i> Register as a new user</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>

@code {

}
