@using HiddenVilla_Server.Model 

<div class="bg-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">Amenities - @Amenitie.ID</h4>

    @Amenitie.Name
    <br />
    @Amenitie.Description
</div>

@code {
    [Parameter]
    public BlazorAmenities Amenitie { get; set; }
}
