@page "/"

<h1>Hello, Professor!</h1>

<p>
    Welcome to HV Vacation Rentals server-side portal. This is where the admin gets the ability to input the rooms that will be rented
    out, list the amenities that are available, and display a record of all bookings.
</p>

<p>
    The application also consists of a client-side WASM (web assembly) that makes requests to our API.
</p>

  
