@page "/"

<h1>Hello, Professor!</h1>

<p>
    Welcome to HV Vacation Rentals server-side portal. This is where the admin gets the ability to input the rooms that will be rented
    out, list the amenities that are available, and display a record of all bookings.
</p>

<p>
    The application also consists of a Blazor client-side WASM (web assembly) that makes requests to our API. The API is a ASP.NET Core Web API.
</p>

<p>
   The server-side admin tool is using default ASP.NET Identity Razor Class Library. This was scaffolded into the HiddenVilla_Server project
    and then the application DB context was updated to inheret from identityDbContext. We also made a new class of ApplicationUser that I added
    a name field to which inhertits from IdentityUser.
</p>

<p>
    Server login: admin@gmail.com   Admin123*
    Client login: chris@aol.com     Admin123*
</p>
  
