<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name
        <a href="Identity/Account/Logout">Logout</a>
    </Authorized>
    <NotAuthorized> <!-- These pages are were scaffolded with identity-->
        <a href="Identity/Account/register">Register</a>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
@code {

}
