@page "/hotel-amenity"
@using Models
@using Business.Repository.IRepository @*needed for database and mapper*@
@inject IHotelAmenityRepository HotelAmenityRepository
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<div class="row mt-4">
<div class="col-8">
    <h4 class="card-title text-info">Hotel Amenities</h4>
</div>
<div class="col-3 offset-1">
    <NavLink href="hotel-amenity/create" class="btn btn-info form-control">Add New Amenity</NavLink>
</div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Timing</th>
                    <th>Icon</th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (HotelAmenities.Any())
                {
                    foreach (var amenity in HotelAmenities)
                    {
                        <tr>
                            <td>@amenity.Name</td>
                            <td>@amenity.Description</td>
                            <td>@amenity.Timing</td>
                            <td><i class="fas fa-@amenity.IconStyle"></i></td>
                            <td>
                                <NavLink href="@($"hotel-amenity/edit/{amenity.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" >Delete</button>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private IEnumerable<HotelAmenityDTO> HotelAmenities { get; set; } = new List<HotelAmenityDTO>();
    private int? DeleteRoomId { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        HotelAmenities = await HotelAmenityRepository.GetAllHotelAmenities();
    }
}
